<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <div class="logo-container">
        <h2>Hotel Management</h2>
      </div>
      
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/clients" routerLinkActive="active">
          <mat-icon>people</mat-icon>
          <span>Клієнти</span>
        </a>
        
        <a mat-list-item routerLink="/rooms" routerLinkActive="active">
          <mat-icon>hotel</mat-icon>
          <span>Номери</span>
        </a>
        
        <a mat-list-item routerLink="/bookings" routerLinkActive="active">
          <mat-icon>book</mat-icon>
          <span>Бронювання</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        
        <span>Hotel Management System</span>
        
        <span class="spacer"></span>
        
        <button mat-icon-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-toolbar>
  
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
